.DS_Store
*.log
.coverage
__pycache__
cov.txt
htmlcov
*~
~*
.#*
.idea

flask/venv/

*.pyc
__pycache__/

flask/instance/

flask/.pytest_cache/
flask/.coverage
flask/htmlcov/

flask/dist/
flask/build/
flask/*.egg-info/
